body {
  width: 1440px;
  padding: 40px;
  margin: 0 auto;
}
img {
  width: 360px;
  height: 200px;
}

.sk-circle {
  position: relative;
  height: 12px;
  width: 80%;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
}

.sk-circle:after {
  content: '';
  width: 40%;
  height: 100%;
  background: #ff3d00;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}
.form-box {
  text-align: center;
  gap: 8px;
}
.input-box {
  width: 289px;
  height: 40px;
  padding: 0 0 0 17px;
  border-radius: 4px;
  border: 1px solid #808080;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.input-box:hover,
.input-box:focus {
}
.form-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 32px;
  align-items: center;
  justify-content: center;
}
